*{
 font-family: 'Fredoka', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Utils */
.align-center{
  text-align: center;
}

.pb-5{
  padding-bottom: 5px;
}
/*<----->*/

/* Header */
header{
  font-weight: 600;
  padding: 20px 0px 50px;
  color: rgb(230,49,111);
  text-align: center;
}
/*<--->*/

/* Main */
main{
  max-width: 70%;
  margin: 0 auto;
}

.grid{
  margin: 40px 0px;
}

.row{
  margin-bottom: 20px;
}

.row::after{           /* clearfix */
  display: table;
  content: "";
  clear: both;
}

.col{
  float: left;
  width: calc((100%/3) - 20px);
}

.col::after{          /* clearfix */
  display: table;
  content: "";
  clear: both;
}

.col:not(.col:last-of-type){  /* don't apply margin-right to the last child of the class col */
  margin-right: 30px;
}

.card{
  height: 80px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.50);
  background-color: rgb(16,14,23);
}

img{
  float: left;
  height: inherit;
  margin-right: 10px;
}

.name{
  color: rgb(237, 237, 237);
  padding-top: 7px;
  font-weight: 700;
}

.job,
.email{
  font-size: 13px;
}

.job{
  color: rgb(225, 225, 225);
}

.email{
  color: rgb(76,169,207);
}

.email::after{
  content: "@team.com";
}
/*<---->*/